.item-card {
  position: relative;
  height: 325px;
  width: 328px;
  border-radius: 12px;
}

.item-card__name {
  position: relative;
  top: 15px;
  text-align: center;
}

.item-card__img {
  position: absolute;
  top: 0;
  object-fit: cover;
  width: 100%;
  z-index: -1;
}
