.page {
  /* background-color: #f3f3f3; */
  font-family: "Cabinet";
  line-height: 1.2;
  z-index: -11;
}

.page__content {
  margin: 0 40px;
}

@media screen and (max-width: 755px) {
  .page__content {
    margin: 0 16px;
  }
}
