.form {
  width: 436px;
  max-height: 496px;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: white;
  border-radius: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
}

.form__close-button:hover {
  opacity: 60%;
  cursor: pointer;
}

.form__title {
  margin: 28px 0 24px 28px;
}

.form__set {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
  margin: 0 28px 48px;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 29px;
  padding: 0;
}

.form__field {
  position: relative;
  display: flex;
  flex-direction: column;
}

.form__input {
  max-width: 440px;
  margin: 8px 0 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 20%);
  padding: 0;
  padding-bottom: 13px;
}

.form__input_invalid {
  border-bottom: 1px solid #ff0000;
}

.form__error {
  position: absolute;
  top: 33px;
  color: #ff0000;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.21;
}

.form__submit-button {
  max-width: 358px;
  max-height: 50px;
  background-color: black;
  color: white;
  border-radius: 2px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.21;
  margin: 0 36px 36px;
  padding: 16px 0;
}

.form__submit-button:hover {
  opacity: 80%;
  cursor: pointer;
}

.form__submit-button_inactive {
  background-color: transparent;
  color: black;
  opacity: 20%;
}
