.header {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 700;
  margin-top: 32px;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  width: 89px;
  height: 40px;
  margin-right: 24px;
}

.header__location-time {
  margin: 0;
}

.header__add-button {
  border: none;
  background-color: transparent;
  padding: 0;
}

.header__add-button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.header__username {
  line-height: 1.24;
  margin: 0 12px 0 20px;
}

.header__avatar {
  width: 40px;
  height: 40px;
}
