.card {
  background-color: white;
  max-width: 75vw;
  max-height: 75vh;
  height: 498px;
  width: 498px;
  border-radius: 16px;
  padding-bottom: 112px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
}

.card__image {
  border-radius: 16px 16px 0 0;
  max-width: 75vw;
  max-height: 75vh;
  width: 498px;
  height: 498px;
}

.card__close-button:hover {
  opacity: 60%;
  cursor: pointer;
}

.card__container {
  display: flex;
  font-weight: 700;
  font-size: 20px;
  justify-content: space-between;
}

.card__text {
  margin: 20px 32px 0;
}

.card__text:last-of-type {
  margin-top: 12px;
}

.card__delete-button {
  width: 101px;
  height: 24px;
  border: none;
  background-color: transparent;
  color: #ff4d00;
  margin: 20px 32px 0 0;
  padding: 0;
}

.card__delete-button:hover {
  cursor: pointer;
  opacity: 60%;
}

@media screen and (max-width: 755px) {
  .card {
    width: 343px;
    height: 463px;
    padding-bottom: 40px;
  }

  .card__image {
    height: 343px;
    width: 343px;
  }
}
