.footer {
  position: absolute;
  bottom: 24px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
}

.footer__text {
  margin: 0;
}

@media screen and (max-width: 755px) {
  .footer {
    bottom: 20px;
  }
}
