.clothes-section {
  margin: 20px 0 0 116px;
  width: 100%;
}

.clothes-section__header {
  display: flex;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.24;
}

.clothes-section__text {
  margin: 0 20px 0 0;
}

.clothes-section__button {
  border: none;
  background-color: transparent;
  padding: 0;
}

.clothes-section__button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.clothes-section__list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, 328px);
  gap: 20px 20px;
  padding: 0;
}

@media screen and (max-width: 755px) {
  .clothes-section__list {
    margin: 20px 0 83px;
    gap: 16px 15px;
    grid-template-columns: repeat(auto-fill, 164px);
  }
}

@media screen and (max-width: 630px) {
  .clothes-section {
    margin-left: 0;
  }

  .clothes-section__header {
    width: 100%;
    justify-content: center;
  }

  .clothes-section__list {
    margin: 16px 0 40px;
    justify-content: center;
  }
}
